* {
	margin: 0;
	padding: 0;
  }
  
  html {
	background:#333;
	color: #52e42a;;
	font-family: Menlo;
  }

  body{
	background:url('https://media2.giphy.com/media/lq3puC8soFNZTUh2ka/source.gif');
	background-repeat: no-repeat;
	background-size: contain;
	
  }

  .controls {
	position: fixed;
	text-align: right;
	top: 5px;
	right: 5%;
	width: 100%;
  }
  
  .button {
	color: #52e42a;;
	font-size: 4vw;
	margin: 0 0.5em;
	text-decoration: none;
  }
  
  .button:first-child {
	  margin-left: 0;
  }
  
  .button:last-child {
	  margin-right: 0;
  }
  
  .button:hover {
	color: white;
  }
  
  .stopwatch {
	font-size: 20vw;
	height: 100%;
	line-height: 100vh;
	text-align: center;
  }
  
  .results {
	border-color: #52e42a;;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 70%;
	transform: translateX(-50%);
  }